**/.DS_Store
.pio
.vscode
.idea
commit*
test.html
gzipped
webh
*.code-workspace
logs
todo*
!lib
!platformio.ini
**/__pycache__
tools/.no_web_update*
gzipped/
*/tools/*
min/
node_modules
package-lock.json
/.cache/
/.backhaul-tests/
!/tools/backhaul/
!/tools/backhaul/**
/bin/czc_fw_*.bin
**/__pycache__/
*.pyc
